* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #35317e;
  color: #99c1f1;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

input {
  outline: none;
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 16px;
  background: #413c8f;
  color: darkblue;
  text-align: center;
}
input::placeholder {
  color: darkblue;
  opacity: .6;
}

h2 {
  margin-top: 20px;
  text-align: center;
}
