.banner {
	width: 100%;
	padding: 30px 0;
	margin: -30px 0;
	overflow: hidden;
}




/* -- -- edugames -- -- */

.banner .edugames {
	width: 100%;
	vertical-align: top;
	margin-bottom: 50px;
	user-select: none;
	pointer-events: none;
}

@media screen and (min-width: 720px) {
	.banner {
		position: relative;
	}

	.banner .gradient {
		background: linear-gradient(to right, #35317e 60%, #35317e00);
		position: absolute;
		padding: 20px 80px 0 10px;
		top: 10px;
		bottom: 10px;
		display: flex;
		align-items: center;
		z-index: 1;
	}

	.banner .edugames {
		width: 500px;
	}
}




/* -- -- carousel -- -- */

.banner .carousel {
	display: flex;
	gap: 20px;
	width: fit-content;
}

.banner .carousel a {
	display: block;
	border-radius: 15px;
	overflow: hidden;
	flex-shrink: 0;
	border: 3px solid transparent;
}
.banner .carousel a:hover {
	border: 3px solid #00ecff;
	box-shadow: 0 0 30px #00ecff;
}

.banner .carousel img {
	vertical-align: top;
	transition: transform .3s ease;
}
.banner .carousel a:hover img {
	transform: rotate(3deg) scale(1.1);
}
